[general]
# disease name
disease=COAD
# path to data folder
dataDir=/mnt/genomeDB/TCGA/COLON_ADENOCARCINOMA
# path to scripts folder		
scriptsDir=/home/chiakhb/SCRIPTS/TCGA_PREPROCESSING
# path to analysis folder	
analysisDir=/mnt/projects/bertrandd/oncoimpact/MUTATION_BENCHMARK/ANALYSIS/COAD
# path to output folder
outDir=/mnt/projects/bertrandd/oncoimpact/MUTATION_BENCHMARK/DATA/COAD
# path to logs folder
logsDir=/mnt/projects/bertrandd/oncoimpact/MUTATION_BENCHMARK/ANALYSIS/COAD/LOGS
# path to manifest file provided by TCGA. Path relative to dataDir
fileManifest=file_manifest.txt
# flag for cnv
flagCNV=1
# flag for snp
flagSNP=1
# flag for expression
flagEXP=1
# flag for mergeAndClean
flagMNC=1
# flag for gene mutation frequency
flagMUT=1
# flag for oncoIMPACT
flagONCOIMPACT=1
# flag for driverNet
flagDRIVERNET=1
# flag for annovar run
flagANNOVAR=1

[cluster]
# memory requirement in GB
mem=10
# estimated max runtime in hours
runtime=4
# max number of threads
numThreads=20

[cnv]
# folder containing CNV data. Path relative to dataDir
cnvFolder=CNV_SNP_Array/BI__Genome_Wide_SNP_6/Level_3/
# file extension of cnv data
extention=.hg19.seg.txt 
# path to region file		
region=/home/chiakhb/SCRIPTS/TCGA_PREPROCESSING/gene_region.hg19_refSeq.coord
# Clinical data file "Clinical/Biotab/nationwidechildrens.org_clinical_patient_*.txt"
clinicalData=Clinical/Biotab/nationwidechildrens.org_clinical_patient_coad.txt
# minimum value to consider region up-regulated
minUp=1
# minimum value to consider region down-regulated
minDown=-1

[snp]
# folder(s) containing SNP data. Multiple entries separated by ",". Path relative to dataDir
snpFolders=Somatic_Mutations/BCM__IlluminaGA_DNASeq/Level_2/

[exp]
# normal_list_matrix.txt. Path relative to dataDir
normalList=normal_list_matrix.txt
# list of selected normals
selectedNormals=
# list of excluded tumors
excludedTumors=
# METADATA sdrf.txt file
sdrf=METADATA/UNC__IlluminaHiSeq_RNASeqV2/unc.edu_COAD.IlluminaHiSeq_RNASeqV2.1.8.0.sdrf.txt
# path to RNASeq folder
rnaseqDir=RNASeqV2/UNC__IlluminaHiSeq_RNASeqV2/Level_3
# path to DE results folder
resultsDir=/mnt/projects/bertrandd/oncoimpact/MUTATION_BENCHMARK/COAD/RNA-SEQ/DESeq
# file extension of expression results
extention=DE_result_DEseq
# which DE analysis software to run [DESeq / edgeR]
software=DESeq
# FDR cutoff
fdr=0.05
# Minimum read counts cutoff
reads=200

